<h1>Welcome to Black Jack</h1>
<form name="form" class="form-inline" method="POST" action="/play" data-ng-controller="NameCtrl">
  <div class="form-group">
    <input type="text" name="name" class="form-control" data-ng-model="name" placeholder="Your name" required>
    <button type="submit" class="btn btn-default" data-ng-disabled="form.$invalid">Enter</button>
  </div>
</form>