<!DOCTYPE html>
<html>
  <head>
    <title>Black Jack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script type="text/javascript" src="/javascript/angular-1.3.12/angular.js"></script>
    <script type="text/javascript" src="/javascript/blackjack.js"></script>
  </head>
  <body style="padding-top: 50px;" data-ng-app="blackjack">
      <div class="container">
        <%if @error %>
          <div class="alert alert-error"><%=@error%></div>
        <% end %>
          <%= yield %>
      </div>
  </body>
</html>
