<div data-ng-controller="PlayCtrl" data-ng-init="ownName = '<%= params[:name] %>';">
  <h2>Dear , welcome to this Black Jack game.</h2>
  <button type="button" class="btn btn-danger" ng-click="kickOff()" ng-disabled="areFirstCardsGiven()">Kick off the game!</button>

  <div class="container">
    <!-- players -->
    <div class="row">
      <div class="col-md-4" data-ng-repeat="player in players">
        {{player.name}}
        <div data-ng-if="ownName == player.name">
            <button type="button" class="btn btn-primary" ng-click="draw('Y')" ng-disabled="!canPlayerDraw(player)">Draw</button>
            <button type="button" class="btn btn-default" ng-click="draw('N')" ng-disabled="!canPlayerDraw(player)">Stay</button>
        </div>
        Your current cards are:
        <ul>
          <li data-ng-repeat="c in player.cards">{{c.type}}</li>
        </ul>
        Sum: {{player.sum}}
      </div>
    </div>
    <!-- table -->
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <!-- dealer -->
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        {{dealer.name}}
        <ul>
          <li data-ng-repeat="c in dealer.cards">{{c.type}}</li>
        </ul>
        Sum: {{dealer.sum}}
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>