<h2>
    <span data-ng-if="ownName == player.name">
        <button type="button" class="btn btn-sm btn-primary" ng-click="draw('Y')" ng-disabled="!canPlayerDraw(player)">Draw</button>
    </span>
    <span>{{player.name}}</span>
    <span data-ng-if="ownName == player.name">
        <button type="button" class="btn btn-sm btn-warning" ng-click="draw('N')" ng-disabled="!canPlayerDraw(player)">Stay</button>
    </span>
    <!-- state -->
    <br>
    <span class="label label-danger" ng-show="player.busted===true">BUSTED</span>
    <span class="label label-success" ng-show="player.winner===true">WINNER</span>
</h2>
<span class="label label-default">Sum: {{player.sum}}</span>
<br>
<img ng-src="{{buildCardPath(c)}}" class="img-thumbnail" data-ng-repeat="c in player.cards" style="height:100px;">