.col-md-4 {
    text-align: center;
}

.col-md-12 {
    text-align: center;
}

.red {
    color: red;
}

.show-grid [class^=col-] {
    padding-top:10px;
    padding-bottom:10px;
    background-color: #e7e7e7;
    border:1px solid #fff;
}